In [2]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp39-cp39-win_amd64.whl (7.2 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Users\micha\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: joblib>=0.11 in c:\users\micha\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=1.1.0 in c:\users\micha\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\micha\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, scikit-learn, sklearn
    Running setup.py install for sklearn: started
    Running setup.py install for sklearn: finished with status 'done'
Successfully installed scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0

In [3]:
from pandas_profiling import ProfileReport
from sklearn.impute import KNNImputer

In [2]:
import pandas_profiling
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("C:/Users/micha/OneDrive/Documents/RGU/Project/Coding/meets.csv")

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MeetID       8482 non-null   int64
 1   MeetPath     8482 non-null   object
 2   Federation   8482 non-null   object
 3   Date         8482 non-null   object
 4   MeetCountry  8482 non-null   object
 5   MeetState    5496 non-null   object
 6   MeetTown     6973 non-null   object
 7   MeetName     8482 non-null   object
dtypes: int64(1), object(7)
memory usage: 530.2+ KB

In [3]:
data_s = pd.read_csv("C:/Users/micha/OneDrive/Documents/RGU/Project/Coding/meets_edited.csv")

In [ ]:
profile = ProfileReport(data_s)
profile

In [8]:
data_s = data_s.convert_dtypes()

In [10]:
data_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MeetID       7364 non-null   Int64
 1   MeetPath     8482 non-null   string
 2   Federation   8482 non-null   string
 3   Date         8482 non-null   string
 4   MeetCountry  8482 non-null   string
 5   MeetState    5496 non-null   string
 6   MeetTown     6973 non-null   string
 7   MeetName     8482 non-null   string
 8   RandomNums   6652 non-null   Int64
dtypes: Int64(2), string(7)
memory usage: 613.1 KB

In [ ]:
missing_values = data["city"].isnull().sum()

Data Types

In [11]:
data_s["MeetPath"].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
8477    <class 'str'>
8478    <class 'str'>
8479    <class 'str'>
8480    <class 'str'>
8481    <class 'str'>
Name: MeetPath, Length: 8482, dtype: object

In [19]:
check = list(data_s['day'].map(type).unique())
print('datatype is ' + str(check))
print(check.apply(type))

datatype is [<class 'int'>]

AttributeError: 'list' object has no attribute 'dtype'

In [20]:
data_s['day'].map(type)

0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
725    <class 'int'>
726    <class 'int'>
727    <class 'int'>
728    <class 'int'>
729    <class 'int'>
Name: day, Length: 730, dtype: object

In [ ]:
a = []

for element in list(data_s['day']):

    if isinstance(element, int):
        a.append('int')

a

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MeetID       8482 non-null   int64
 1   MeetPath     8482 non-null   object
 2   Federation   8482 non-null   object
 3   Date         8482 non-null   object
 4   MeetCountry  8482 non-null   object
 5   MeetState    5496 non-null   object
 6   MeetTown     6973 non-null   object
 7   MeetName     8482 non-null   object
dtypes: int64(1), object(7)
memory usage: 530.2+ KB

In [10]:
data.isna().sum()

MeetID            0
MeetPath          0
Federation        0
Date              0
MeetCountry       0
MeetState      2986
MeetTown       1509
MeetName          0
dtype: int64

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [62]:
data_n = data
cat = data_n.select_dtypes(include=['object'])

col_names = list(cat.columns)
col_encoded = dict()

for col in col_names:
    cat_dummies = pd.get_dummies(data_n[col])
    col_encoded[str(col)] = cat_dummies

C:\Users\micha\AppData\Local\Temp\ipykernel_18168\24179067.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  col_encoded_df.append(col_encoded, ignore_index=True)

,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,365strong/1601 365strong/1602 365stron...,365Strong AAPF AAU ADFPA APA APC A...,1974-03-02 1974-03-30 1974-04-27 1974...,Argentina Australia Belarus Brazil C...,AB ACT AK AKL AL AR AZ BC BOP C...,Aas Abbotsford Aberdeen Abernathy Ab...,015 Pennsylvania State Bench Press and D...

In [68]:
col_decoded = dict()
for col in col_names:
    cat_rev = pd.get_dummies(data_n[col]).idxmax(1)
    col_decoded[str(col)] = cat_rev

In [69]:
col_decoded['MeetPath']

0                  365strong/1601
1                  365strong/1602
2                  365strong/1603
3                  365strong/1604
4                  365strong/1605
                  ...
8477              xpc/2015-finals
8478    xpc/2016-bench-freak-show
8479        xpc/2016-elite-finals
8480          xpc/2016-pro-finals
8481              xpc/2017-finals
Length: 8482, dtype: object

In [48]:
col_decoded

{'MeetPath': 0                  365strong/1601
 1                  365strong/1602
 2                  365strong/1603
 3                  365strong/1604
 4                  365strong/1605
                   ...
 8477              xpc/2015-finals
 8478    xpc/2016-bench-freak-show
 8479        xpc/2016-elite-finals
 8480          xpc/2016-pro-finals
 8481              xpc/2017-finals
 Length: 8482, dtype: object,
 'Federation': 0       365Strong
 1       365Strong
 2       365Strong
 3       365Strong
 4       365Strong
           ...
 8477          XPC
 8478          XPC
 8479          XPC
 8480          XPC
 8481          XPC
 Length: 8482, dtype: object,
 'Date': 0       2016-10-29
 1       2016-11-19
 2       2016-07-09
 3       2016-06-11
 4       2016-04-10
            ...
 8477    2015-03-06
 8478    2016-03-04
 8479    2016-03-04
 8480    2016-03-05
 8481    2017-03-03
 Length: 8482, dtype: object,
 'MeetCountry': 0       USA
 1       USA
 2       USA
 3       USA
 4       USA
        ...
 8477    USA
 8478    USA
 8479    USA
 8480    USA
 8481    USA
 Length: 8482, dtype: object,
 'MeetState': 0       NC
 1       MO
 2       NC
 3       SC
 4       SC
         ..
 8477    OH
 8478    OH
 8479    OH
 8480    OH
 8481    OH
 Length: 8482, dtype: object,
 'MeetTown': 0       Charlotte
 1           Ozark
 2       Charlotte
 3       Rock Hill
 4       Rock Hill
           ...
 8477     Columbus
 8478     Columbus
 8479     Columbus
 8480     Columbus
 8481     Columbus
 Length: 8482, dtype: object,
 'MeetName': 0       2016 Junior & Senior National Powerlifting Cha...
 1                       Thanksgiving Powerlifting Classic
 2                                  Charlotte Europa Games
 3                        Carolina Cup Push Pull Challenge
 4                                   Eastern USA Challenge
                               ...
 8477                                             2015 XPC
 8478                            2016 XPC Bench Freak Show
 8479                                2016 XPC Elite Finals
 8480                                  2016 XPC PRO Finals
 8481                                      2017 XPC Finals
 Length: 8482, dtype: object}

In [26]:
cat_rev = pd.get_dummies(cat_one).idxmax(1)
cat_rev.head()

0    2016 Junior & Senior National Powerlifting Cha...
1                    Thanksgiving Powerlifting Classic
2                               Charlotte Europa Games
3                     Carolina Cup Push Pull Challenge
4                                Eastern USA Challenge
dtype: object

In [ ]:
#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['team']]).toarray())

#merge one-hot encoded columns back with original DataFrame
final_df = df.join(encoder_df)

In [1]:
pip install plotly

Collecting plotly
  Using cached plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
Collecting tenacity>=6.2.0
  Using cached tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\micha\anaconda3\lib\site-packages (from plotly) (1.16.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.6.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.