In [1]:
import pandas as pd
from knn_impute import knn_impute

In [17]:
data = pd.read_csv("C:/Users/micha/OneDrive/Documents/RGU/Project/Coding/openpowerlifting.csv")

In [1]:
pip install numbers

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement numbers (from versions: none)
ERROR: No matching distribution found for numbers

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386414 entries, 0 to 386413
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MeetID          386414 non-null  int64
 1   Name            386414 non-null  object
 2   Sex             386414 non-null  object
 3   Equipment       386414 non-null  object
 4   Age             147147 non-null  float64
 5   Division        370571 non-null  object
 6   BodyweightKg    384012 non-null  float64
 7   WeightClassKg   382602 non-null  object
 8   Squat4Kg        1243 non-null    float64
 9   BestSquatKg     298071 non-null  float64
 10  Bench4Kg        1962 non-null    float64
 11  BestBenchKg     356364 non-null  float64
 12  Deadlift4Kg     2800 non-null    float64
 13  BestDeadliftKg  317847 non-null  float64
 14  TotalKg         363237 non-null  float64
 15  Place           385322 non-null  object
 16  Wilks           362194 non-null  float64
dtypes: float64(10), int64(1), object(6)
memory usage: 50.1+ MB

In [23]:
data['Age'] = knn_impute(target=data['Age'], attributes=data.drop(['Age'], 1),
                                    aggregation_method="median", k_neighbors=10, numeric_distance='euclidean',
                                    categorical_distance='hamming', missing_neighbors_threshold=0.8)

NameError: name 'knn_impute' is not defined

In [ ]:
column_list = list(data)
column_list

In [13]:
summary = data.describe()
summary

              day  temperature    humidity          uses
count  730.000000   729.000000  729.000000    727.000000
mean    15.720548    20.334554   65.157874   5321.525447
std      8.802278     7.530907   14.768782   2279.820380
min      1.000000     1.820000   24.210000     35.000000
25%      8.000000    13.790000   54.130000   3717.500000
50%     16.000000    20.460000   64.900000   5370.000000
75%     23.000000    26.840000   75.880000   7008.000000
max     31.000000    35.800000   97.600000  10150.000000

In [17]:
data.dtypes["day"]

dtype('int64')

In [14]:
missing_values = data["city"].isnull().sum()

In [16]:
len(data["city"])

730